<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="jumbotron">
      <h1 class="display-4"> Bienvenue sur VideoGen</h1>
      <p class="lead">Ce ci est le projet DSL pour IDM 18/19</p>
      <hr class="my-4">
      <p>Ce projet à été développé avec ecplise xtext pour le DSL, Spring pour le back et angular pour le front</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
    </div>
</div>
<router-outlet></router-outlet>

<footer class="page-footer font-small blue">

    
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      Lachaal Abdallah & Bouyamine Mounir
    </div>
    
  
  </footer>
<app-spinner *ngIf="isSpinnerVisible" ></app-spinner>


