* { box-sizing: border-box; }


.container-grid-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-grid-4 > * {
    flex: 0 0 auto;
    width: 25%;
}

.image-selected{
    border: 3px solid orange;
}